Repository lijibnl/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, isort, ruff, ruff-format

ansible-lint:
  name: ansible lint
  language: system
  entry: ansible-lint --offline --exclude roles/install_module/vars/*
  description: Perform ansible linting

yamllint:
  name: yaml lint
  language: system
  entry: yamllint --strict -c .yaml-lint.yml
  description: YamlLint with same config as super-linter

isort:
  name: isort
  language: system
  entry: isort .

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

Update roles/adpicam/tasks/main.yml
  roles/adpicam/tasks/main.yml
Due: ansible-lint, yamllint

Update roles/adpicam/templates/base.cmd.j2
  roles/adpicam/templates/base.cmd.j2
Due: none

changes according to the comments
  roles/adpicam/schema.yml
  roles/adpicam/tasks/main.yml
  roles/adpicam/templates/postInit.cmd.j2
  roles/adpicam/templates/st.cmd.j2
  roles/adpicam/templates/st_start.cmd.j2
Due: ansible-lint, yamllint

changes according to the comments
  roles/adpicam/tasks/main.yml
Due: ansible-lint, yamllint

changes according to the comments
  roles/adpicam/schema.yml
Due: ansible-lint, yamllint

changes according to the comments
  roles/adpicam/files/80-picam.rules
Due: none

add: ad-eiger
  roles/adeiger/example.yml
  roles/adeiger/schema.yml
  roles/adeiger/tasks/main.yml
  roles/adeiger/tasks/validate_local_intf.yml
  roles/adeiger/templates/base.cmd.j2
  roles/deploy_ioc/vars/adeiger.yml
Due: ansible-lint, yamllint

doc: add readme
  roles/adeiger/README.md
Due: none

Update roles/adeiger/tasks/validate_local_intf.yml
  roles/adeiger/tasks/validate_local_intf.yml
Due: ansible-lint, yamllint

Update roles/adeiger/schema.yml
  roles/adeiger/schema.yml
Due: ansible-lint, yamllint

fix: example
  roles/adeiger/example.yml
Due: ansible-lint, yamllint

Update roles/adeiger/example.yml
  roles/adeiger/example.yml
Due: ansible-lint, yamllint

fix: update `EIGER_IP` throughout
  roles/adeiger/schema.yml
  roles/adeiger/templates/base.cmd.j2
Due: ansible-lint, yamllint

fix: drop required ADEIGER
  roles/adeiger/schema.yml
Due: ansible-lint, yamllint

fix: followup for consistency
  roles/adeiger/schema.yml
Due: ansible-lint, yamllint

🕶️ Apply changes suggested by @jwlodek
  roles/adandor3/tasks/main.yml
  roles/adandor3/templates/base.cmd.j2
  roles/deploy_ioc/vars/adandor3.yml
Due: ansible-lint, yamllint

Fix issue where nested startup script was missing execute bit
  roles/deploy_ioc/schema.yml
  roles/deploy_ioc/tasks/deploy-ioc.yml
Due: ansible-lint, yamllint

fix trailing space
  roles/adpicam/templates/base.cmd.j2
Due: none

fix: host var naming
  roles/admerlin/tasks/main.yml
Due: ansible-lint, yamllint

Adding pscdrv, quadem, and nsls2em modules. Add NSLS2EM role
  roles/deploy_ioc/schema.yml
  roles/deploy_ioc/tasks/set-facts.yml
  roles/deploy_ioc/vars/nsls2em.yml
  roles/install_module/vars/nsls2em_801ec53.yml
  roles/install_module/vars/pscdrv_1ed650d.yml
  roles/install_module/vars/quadem_f5ab1e9.yml
  roles/nsls2em/README.md
  roles/nsls2em/example.yml
  roles/nsls2em/schema.yml
  roles/nsls2em/tasks/main.yml
  roles/nsls2em/templates/base.cmd.j2
  roles/nsls2em/templates/postInit.cmd.j2
  schemas/device_specific_vars.yml
Due: ansible-lint, yamllint

Fixes found during test deployment
  roles/deploy_ioc/vars/nsls2em.yml
  roles/install_module/tasks/install-module.yml
  roles/install_module/vars/nsls2em_f76d209.yml
  roles/install_module/vars/quadem_f5ab1e9.yml
  scripts/manage_collection.py
Due: ansible-lint, yamllint, isort, ruff, ruff-format

Address linter concerns
  roles/install_module/tasks/install-module.yml
Due: ansible-lint, yamllint

One more linter fix
  roles/install_module/tasks/install-module.yml
Due: ansible-lint, yamllint

Two minor fixes for nsls2em role found during ISS deployment
  roles/deploy_ioc/vars/nsls2em.yml
  roles/nsls2em/templates/base.cmd.j2
Due: ansible-lint, yamllint

Add Germanium
  GERMANIUM_DEPLOYMENT_README.md
  example-germanium-deployment.yml
  example-host-config.yml
  example-inventory.yml
  roles/deploy_ioc/vars/germanium.yml
  roles/germanium/README.md
  roles/germanium/example.yml
  roles/germanium/schema.yml
  roles/germanium/tasks/main.yml
  roles/germanium/templates/base.cmd.j2
  roles/install_module/vars/nsls2em_05e8a65.yml
Due: ansible-lint, yamllint

Initial config
  roles/adaxis/README.md
  roles/adaxis/example.yml
  roles/adaxis/schema.yml
  roles/adaxis/tasks/main.yml
  roles/adaxis/templates/base.cmd.j2
  roles/deploy_ioc/vars/adaxis.yml
Due: ansible-lint, yamllint

Update adaxis role to match old config
  roles/adaxis/example.yml
  roles/adaxis/schema.yml
  roles/adaxis/tasks/main.yml
  roles/adaxis/templates/base.cmd.j2
  roles/deploy_ioc/vars/adaxis.yml
  roles/install_module/vars/adaxis_8c5a423.yml
Due: ansible-lint, yamllint

Update url
  roles/install_module/vars/adaxis_8c5a423.yml
Due: ansible-lint, yamllint

Convert to int
  roles/adaxis/example.yml
Due: ansible-lint, yamllint

Add autosave template and config; Remove ADAXIS env variable
  roles/adaxis/tasks/main.yml
  roles/adaxis/templates/auto_settings.req.j2
  roles/deploy_ioc/vars/adaxis.yml
Due: ansible-lint, yamllint

Run deploy common before deploy ioc
  roles/deploy_ioc/tasks/main.yml
  roles/host_info/tasks/main.yml
Due: ansible-lint, yamllint

Remove host_info and deploy_common to simplify logic. Refactor existing roles to use new variable names
  roles/adaravis/tasks/main.yml
  roles/adkinetix/tasks/main.yml
  roles/adpilatus/tasks/main.yml
  roles/adsimdetector/tasks/main.yml
  roles/aduvc/tasks/main.yml
  roles/advimba/tasks/main.yml
  roles/apcpdu/tasks/main.yml
  roles/deploy_common/defaults/main.yml
  roles/deploy_common/tasks/main.yml
  roles/deploy_common/templates/netsetup.j2
  roles/deploy_ioc/defaults/main.yml
  roles/deploy_ioc/tasks/deploy-ioc.yml
  roles/deploy_ioc/tasks/generate-substitutions-file.yml
  roles/deploy_ioc/tasks/main.yml
  roles/deploy_ioc/tasks/set-facts.yml
  roles/deploy_ioc/tasks/update-config.yml
  roles/deploy_ioc/templates/common.cmd.j2
  roles/deploy_ioc/templates/config.j2
  roles/deploy_ioc/templates/epicsEnv.cmd.j2
  roles/deploy_ioc/templates/netsetup.j2
  roles/eurotherm3k/tasks/main.yml
  roles/host_info/README.md
  roles/host_info/tasks/main.yml
  roles/install_module/tasks/install-module.yml
  roles/install_module/tasks/main.yml
  roles/install_module/tasks/reset-configure-files.yml
  roles/iologik/tasks/main.yml
  roles/manage_iocs/tasks/main.yml
  roles/motorsim/tasks/main.yml
  roles/pandabox/tasks/main.yml
  roles/pandabox/templates/st.cmd.j2
  roles/rbd9103/tasks/main.yml
  roles/sr570/tasks/main.yml
  roles/stanford_dg645/tasks/main.yml
  roles/tektronix_afg3k/tasks/main.yml
  roles/zebra/tasks/main.yml
Due: ansible-lint, yamllint

Update tests to account for new structure
  tests/test_deploy_ioc_vars.py
  tests/test_device_roles.py
  tests/test_validate_ex_configs_against_schemas.py
Due: isort, ruff, ruff-format

Update helper script for new strucutre
  scripts/manage_collection.py
Due: isort, ruff, ruff-format

Address linter issues found
  roles/device_roles/adaravis/defaults/main.yml
  roles/device_roles/adaravis/tasks/autogen_files.yml
  roles/device_roles/iologik/tasks/main.yml
  roles/device_roles/iologik/vars/main.yml
  roles/device_roles/motorsim/defaults/main.yml
  roles/device_roles/motorsim/templates/base.cmd.j2
  roles/device_roles/pandabox/defaults/main.yml
  roles/device_roles/pandabox/tasks/main.yml
  roles/device_roles/pandabox/templates/st.cmd.j2
  tests/test_device_roles.py
  tests/test_validate_ex_configs_against_schemas.py
Due: ansible-lint, yamllint, isort, ruff, ruff-format

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
