Repository lijibnl/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, isort, ruff, ruff-format

ansible-lint:
  name: ansible lint
  language: system
  entry: ansible-lint --offline --exclude roles/install_module/vars/*
  description: Perform ansible linting

yamllint:
  name: yaml lint
  language: system
  entry: yamllint --strict -c .yaml-lint.yml
  description: YamlLint with same config as super-linter

isort:
  name: isort
  language: system
  entry: isort .

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

Linter fixes
  schemas/device_specific_vars.yml
  tests/test_deploy_ioc_vars.py
  tests/test_install_module_vars.py
Due: ansible-lint, yamllint, isort, ruff, ruff-format

Linter fix
  roles/deploy_ioc/vars/aduvc.yml
Due: ansible-lint, yamllint

Move ModuleNameValidator to fixture
  tests/conftest.py
  tests/test_deploy_ioc_vars.py
  tests/test_install_module_vars.py
Due: isort, ruff, ruff-format

add: ad-merlin
  roles/admerlin/README.md
  roles/admerlin/example.yml
  roles/admerlin/schema.yml
  roles/admerlin/tasks/main.yml
  roles/admerlin/tasks/validate_local_intf.yml
  roles/admerlin/templates/base.cmd.j2
  roles/deploy_ioc/vars/admerlin.yml
Due: ansible-lint, yamllint

dbpf_list variable is a list not a dictionary
  roles/deploy_ioc/templates/postInit.cmd.j2
Due: none

doc: drop notes for PR
  roles/admerlin/README.md
Due: none

add adpicam
  roles/adpicam/README.md
  roles/adpicam/example.yml
  roles/adpicam/schema.yml
  roles/adpicam/tasks/main.yml
  roles/adpicam/templates/base.cmd.j2
  roles/deploy_ioc/vars/adpicam.yml
  roles/install_module/vars/adpicam_0d86fae.yml
Due: ansible-lint, yamllint

fix: var name for deploy_ioc_ioc_directory
  roles/admerlin/tasks/main.yml
Due: ansible-lint, yamllint

add adipicam module deps
  roles/install_module/vars/adpicam_0d86fae.yml
Due: ansible-lint, yamllint

🎈 Starts the party with some copied files
  roles/adandor3/example.yml
  roles/adandor3/tasks/main.yml
  roles/adandor3/templates/base.cmd.j2
Due: ansible-lint, yamllint

Pre-run `make` syntax and stylistic preferences
  roles/adandor3/example.yml
  roles/adandor3/tasks/main.yml
Due: ansible-lint, yamllint

🏃‍♀️‍➡️ Run `make role` to get some vars, idk
  roles/adandor3/README.md
  roles/adandor3/example.yml
  roles/adandor3/schema.yml
  roles/deploy_ioc/vars/adandor3.yml
  roles/install_module/vars/adandor3_1e33769.yml
Due: ansible-lint, yamllint

changed some definitions in yml files
  roles/adpicam/tasks/main.yml
  roles/adpicam/templates/auto_settings.req.j2
  roles/adpicam/templates/base.cmd.j2
Due: ansible-lint, yamllint

modified example.yml
  roles/adpicam/example.yml
Due: ansible-lint, yamllint

Update roles/adpicam/example.yml
  roles/adpicam/example.yml
Due: ansible-lint, yamllint

Update roles/deploy_ioc/vars/adpicam.yml
  roles/deploy_ioc/vars/adpicam.yml
Due: ansible-lint, yamllint

added few files to template directory from original repo
  roles/adpicam/templates/postInit.cmd.j2
  roles/adpicam/templates/st.cmd.j2
  roles/adpicam/templates/st_start.cmd.j2
Due: none

trying to fix linter
  roles/deploy_ioc/vars/adpicam.yml
Due: ansible-lint, yamllint

Update roles/adpicam/templates/st.cmd.j2
  roles/adpicam/templates/st.cmd.j2
Due: none

Update roles/admerlin/templates/base.cmd.j2
  roles/admerlin/templates/base.cmd.j2
Due: none

fix: lint
  roles/admerlin/templates/base.cmd.j2
Due: none

Allow for exporting environment variables at the OS level conditionally prior to IOC startup
  roles/deploy_ioc/defaults/main.yml
  roles/deploy_ioc/files/st.cmd
  roles/deploy_ioc/tasks/deploy-ioc.yml
  roles/deploy_ioc/templates/st_top.cmd.j2
  roles/deploy_ioc/vars/adkinetix.yml
  schemas/device_specific_vars.yml
Due: ansible-lint, yamllint

ADPluginBar depends on zbar-devel
  roles/install_module/vars/adpluginbar_448d96b.yml
Due: ansible-lint, yamllint

Bump ADKinetix version, fix minor issue found during deploymnet
  roles/adkinetix/templates/base.cmd.j2
  roles/deploy_ioc/vars/adkinetix.yml
  roles/install_module/vars/adkinetix_aa87406.yml
Due: ansible-lint, yamllint

fix: allow ip or hostname
  roles/admerlin/schema.yml
Due: ansible-lint, yamllint

add: mythen role and module
  roles/admythen/README.md
  roles/admythen/example.yml
  roles/admythen/schema.yml
  roles/admythen/tasks/main.yml
  roles/admythen/templates/auto_settings.req.j2
  roles/admythen/templates/base.cmd.j2
  roles/deploy_ioc/vars/admythen.yml
  roles/install_module/vars/admythen_bcf2947.yml
Due: ansible-lint, yamllint

fix: schema setup
  roles/admythen/schema.yml
Due: ansible-lint, yamllint

Apply suggestions from code review
  roles/admythen/templates/base.cmd.j2
Due: none

🕶️ Apply changes suggested by @thopkins32
  roles/adandor3/tasks/main.yml
  roles/adandor3/templates/base.cmd.j2
  roles/deploy_ioc/vars/adandor3.yml
  roles/install_module/vars/adandor3_1e33769.yml
Due: ansible-lint, yamllint

🧩 Specify Schema
  roles/adandor3/schema.yml
  roles/deploy_ioc/vars/adandor3.yml
Due: ansible-lint, yamllint

📂 Replace copied file with Jinja Templ8
  .ansible/collections/ansible_collections/ansible/posix/plugins/modules/mount.py
  roles/adandor3/tasks/main.yml
  roles/adandor3/templates/auto_settings.req.j2
Due: ansible-lint, yamllint, isort, ruff, ruff-format

🤼 Linters fight : round 1
  roles/adandor3/schema.yml
  roles/adandor3/tasks/main.yml
  roles/adandor3/templates/auto_settings.req.j2
  roles/deploy_ioc/vars/adandor3.yml
  roles/install_module/vars/adandor3_1e33769.yml
Due: ansible-lint, yamllint

🚮 Remove autogenerated `mount.py` from running `pip install -r requirements.txt`
  .ansible/collections/ansible_collections/ansible/posix/plugins/modules/mount.py
Due: isort, ruff, ruff-format

⛑️ Add a valid `example.yml`
  roles/adandor3/example.yml
  roles/adandor3/schema.yml
Due: ansible-lint, yamllint

🗃️ Fix EOF whitespace
  roles/adandor3/example.yml
Due: ansible-lint, yamllint

Update roles/install_module/vars/admythen_bcf2947.yml
  roles/install_module/vars/admythen_bcf2947.yml
Due: ansible-lint, yamllint

Update roles/adpicam/templates/postInit.cmd.j2
  roles/adpicam/templates/postInit.cmd.j2
Due: none

Update roles/adpicam/tasks/main.yml
  roles/adpicam/tasks/main.yml
Due: ansible-lint, yamllint

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
