Repository lijibnl/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, isort, ruff, ruff-format

ansible-lint:
  name: ansible lint
  language: system
  entry: ansible-lint --offline --exclude roles/install_module/vars/*
  description: Perform ansible linting

yamllint:
  name: yaml lint
  language: system
  entry: yamllint --strict -c .yaml-lint.yml
  description: YamlLint with same config as super-linter

isort:
  name: isort
  language: system
  entry: isort .

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

Update roles/device_roles/motorsim/templates/base.cmd.j2
  roles/device_roles/motorsim/templates/base.cmd.j2
Due: none

add: etherip, mostly copy/paste of templates, little config
  roles/deploy_ioc/vars/etherip.yml
  roles/device_roles/etherip/README.md
  roles/device_roles/etherip/example.yml
  roles/device_roles/etherip/files/plc1-ao.template
  roles/device_roles/etherip/files/plc1-bi.template
  roles/device_roles/etherip/files/plc1-bo.template
  roles/device_roles/etherip/files/plc1-first.template
  roles/device_roles/etherip/files/plc1-fm.template
  roles/device_roles/etherip/files/plc1-op-fs.template
  roles/device_roles/etherip/files/plc1-pps-sh.template
  roles/device_roles/etherip/files/plc1-pt.template
  roles/device_roles/etherip/files/plc1-tc.template
  roles/device_roles/etherip/files/plc1-va-gv.template
  roles/device_roles/etherip/files/plc1-va-rly.template
  roles/device_roles/etherip/schema.yml
  roles/device_roles/etherip/tasks/main.yml
  roles/device_roles/etherip/templates/base.cmd.j2
  roles/install_module/vars/ether_ip_b27350b.yml
Due: ansible-lint, yamllint

adding ADScanPB areadetector
  roles/deploy_ioc/vars/adscanpb.yml
  roles/device_roles/adscanpb/README.md
  roles/device_roles/adscanpb/example.yml
  roles/device_roles/adscanpb/schema.yml
  roles/device_roles/adscanpb/tasks/main.yml
  roles/device_roles/adscanpb/templates/base.cmd.j2
  roles/install_module/vars/adscanpb_f54e2c1.yml
Due: ansible-lint, yamllint

fix: drop custom dbLoadDatabase and registRecordDeviceDriver
  roles/device_roles/etherip/templates/base.cmd.j2
Due: none

adding adcore dependency in ADScanPB areadetector
  roles/install_module/vars/adscanpb_f54e2c1.yml
Due: ansible-lint, yamllint

Update roles/device_roles/etherip/templates/base.cmd.j2
  roles/device_roles/etherip/templates/base.cmd.j2
Due: none

Update roles/deploy_ioc/vars/adscanpb.yml
  roles/deploy_ioc/vars/adscanpb.yml
Due: ansible-lint, yamllint

Update roles/device_roles/adscanpb/schema.yml
  roles/device_roles/adscanpb/schema.yml
Due: ansible-lint, yamllint

Update roles/device_roles/adscanpb/templates/base.cmd.j2
  roles/device_roles/adscanpb/templates/base.cmd.j2
Due: none

fix: update schema and example
  roles/device_roles/etherip/example.yml
  roles/device_roles/etherip/schema.yml
Due: ansible-lint, yamllint

lint: eof
  roles/device_roles/etherip/templates/base.cmd.j2
Due: none

Remove explicit ansible lint workflow from CI - it is already covered by running pre-commit
  .github/workflows/superlinter.yml
Due: ansible-lint, yamllint

Modify script that creates roles to pass pre-commit checks out of th box
  scripts/manage_collection.py
Due: isort, ruff, ruff-format

Add docstrings
  scripts/manage_collection.py
Due: isort, ruff, ruff-format

Fixes for pre-commit
  scripts/manage_collection.py
Due: isort, ruff, ruff-format

Use write instead of append
  scripts/manage_collection.py
Due: isort, ruff, ruff-format

Remove superfluous docstring
  scripts/manage_collection.py
Due: isort, ruff, ruff-format

Add ADGermanium module and IOC roles
  roles/deploy_ioc/vars/germanium.yml
  roles/germanium/README.md
  roles/germanium/example.yml
  roles/germanium/schema.yml
  roles/germanium/tasks/main.yml
  roles/germanium/templates/base.cmd.j2
  roles/germanium/templates/common.cmd.j2
  roles/germanium/templates/epicsEnv.cmd.j2
  roles/germanium/templates/postInit.cmd.j2
  roles/install_module/vars/adgermanium_0395fac.yml
Due: ansible-lint, yamllint

Update gitignore
  .gitignore
Due: none

Add pixi configuration for nsls2.ioc_deploy repository
  pixi.lock
  pixi.toml
  scripts/manage_collection.py
Due: isort, ruff, ruff-format

Modify actions workflows to use pixi
  .github/workflows/superlinter.yml
  .github/workflows/validate_module_configs.yml
  pixi.toml
Due: ansible-lint, yamllint

Bump pixi version in actions
  .github/workflows/superlinter.yml
  .github/workflows/validate_module_configs.yml
Due: ansible-lint, yamllint

Minor style change
  scripts/manage_collection.py
Due: isort, ruff, ruff-format

Create module ADGermanium
  roles/install_module/vars/adgermanium_0395fac.yml
Due: ansible-lint, yamllint

Add germanium
  roles/adgermanium/README.md
  roles/adgermanium/example.yml
  roles/adgermanium/schema.yml
  roles/adgermanium/tasks/main.yml
  roles/adgermanium/templates/base.cmd.j2
  roles/adgermanium/templates/common.cmd.j2
  roles/adgermanium/templates/epicsEnv.cmd.j2
  roles/adgermanium/templates/postInit.cmd.j2
  roles/adgermanium/templates/st.cmd.j2
  roles/deploy_ioc/vars/adgermanium.yml
Due: ansible-lint, yamllint

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
