Repository lijibnl/nsls2.ioc_deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, yamllint, isort, ruff, ruff-format

ansible-lint:
  name: ansible lint
  language: system
  entry: ansible-lint --offline --exclude roles/install_module/vars/*
  description: Perform ansible linting

yamllint:
  name: yaml lint
  language: system
  entry: yamllint --strict -c .yaml-lint.yml
  description: YamlLint with same config as super-linter

isort:
  name: isort
  language: system
  entry: isort .

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

Update schemas to support hostname() validator that checks if hostnames are valid
  roles/advimba/schema.yml
  roles/iologik/schema.yml
  roles/pandabox/example.yml
  roles/pandabox/schema.yml
  roles/sr570/schema.yml
  roles/stanford_dg645/example.yml
  roles/stanford_dg645/schema.yml
  roles/tektronix_afg3k/schema.yml
  tests/test_validate_ex_configs_against_schemas.py
Due: ansible-lint, yamllint, isort, ruff, ruff-format

Add script to simplify adding new modules and roles. Use it to add an adpilatus role
  Makefile
  roles/adpilatus/README.md
  roles/adpilatus/example.yml
  roles/adpilatus/schema.yml
  roles/adpilatus/tasks/main.yml
  roles/adpilatus/templates/auto_settings.req.j2
  roles/adpilatus/templates/base.cmd.j2
  roles/deploy_ioc/defaults/main.yml
  roles/deploy_ioc/vars/adpilatus.yml
  roles/install_module/vars/adpilatus_af15230.yml
  scripts/manage_collection.py
Due: ansible-lint, yamllint, isort, ruff, ruff-format

Report git status after new role or module is made/deleted/updated
  Makefile
Due: none

Fix typo
  roles/deploy_ioc/vars/adpilatus.yml
  scripts/manage_collection.py
Due: ansible-lint, yamllint, isort, ruff, ruff-format

Use splitext instead of just split
  scripts/manage_collection.py
Due: isort, ruff, ruff-format

Tell ansible lint that ansible.posix.mount is a valid module
  .ansible-lint
Due: none

Update roles/adpilatus/templates/auto_settings.req.j2
  roles/adpilatus/templates/auto_settings.req.j2
Due: none

Update roles/adpilatus/tasks/main.yml
  roles/adpilatus/tasks/main.yml
Due: ansible-lint, yamllint

WIP: Add Germanium detector IOC deployment.
  GERMANIUM_DEPLOYMENT_README.md
  example-germanium-deployment.yml
  example-host-config.yml
  example-inventory.yml
  roles/deploy_ioc/vars/germanium.yml
  roles/germanium/README.md
  roles/germanium/example.yml
  roles/germanium/schema.yml
  roles/germanium/tasks/main.yml
  roles/germanium/templates/base.cmd.j2
  roles/install_module/vars/nsls2em_05e8a65.yml
Due: ansible-lint, yamllint

add: zebra
  roles/deploy_ioc/vars/zebra.yml
  roles/install_module/vars/zebra_8e70cda.yml
  roles/zebra/README.md
  roles/zebra/example.yml
  roles/zebra/schema.yml
  roles/zebra/tasks/main.yml
  roles/zebra/templates/base.cmd.j2
  roles/zebra/templates/postInit.cmd.j2
Due: ansible-lint, yamllint

fix: syntax for vars
  roles/deploy_ioc/vars/zebra.yml
Due: ansible-lint, yamllint

fix: CI lint
  roles/deploy_ioc/vars/zebra.yml
  roles/install_module/vars/zebra_8e70cda.yml
  roles/zebra/example.yml
  roles/zebra/schema.yml
  roles/zebra/templates/base.cmd.j2
Due: ansible-lint, yamllint

doc: readme
  roles/zebra/README.md
Due: none

Working on validating module files with yamale
  requirements.txt
  roles/deploy_ioc/defaults/main.yml
  roles/deploy_ioc/tasks/deploy-ioc.yml
  roles/deploy_ioc/vars/adpilatus.yml
  roles/deploy_ioc/vars/adsimdetector.yml
  roles/deploy_ioc/vars/aduvc.yml
  roles/deploy_ioc/vars/advimba.yml
  roles/install_module/vars/pmac_f811ee1.yml
  schemas/device_specific_vars.yml
  schemas/install_module.yml
  schemas/install_module_latest.yml
  tests/test_deploy_ioc_vars.py
  tests/test_install_module_vars.py
Due: ansible-lint, yamllint, isort, ruff, ruff-format

maint: update adaravis module hash
  roles/install_module/vars/adaravis_a0aa4d6.yml
Due: ansible-lint, yamllint

Add updated database templates and protocol file for afg3K
  roles/deploy_ioc/tasks/deploy-ioc.yml
  roles/tektronix_afg3k/files/TektronixAFG3K.template
  roles/tektronix_afg3k/files/TektronixAFG3K_AM.template
  roles/tektronix_afg3k/files/TektronixAFG3K_Modulation.template
  roles/tektronix_afg3k/files/TektronixAFG3K_Output.template
  roles/tektronix_afg3k/files/TektronixAFG3K_PM_FM.template
  roles/tektronix_afg3k/files/TektronixAFG3K_Source.template
  roles/tektronix_afg3k/files/afg3k.proto
Due: ansible-lint, yamllint

Apply pre-commit fixes
  roles/tektronix_afg3k/files/TektronixAFG3K.template
  roles/tektronix_afg3k/files/TektronixAFG3K_AM.template
  roles/tektronix_afg3k/files/TektronixAFG3K_Modulation.template
  roles/tektronix_afg3k/files/TektronixAFG3K_Output.template
  roles/tektronix_afg3k/files/TektronixAFG3K_PM_FM.template
Due: none

Update roles/tektronix_afg3k/files/TektronixAFG3K_Output.template
  roles/tektronix_afg3k/files/TektronixAFG3K_Output.template
Due: none

add: initial attempt at adaravis
  roles/adaravis/README.md
  roles/adaravis/defaults/main.yml
  roles/adaravis/example.yml
  roles/adaravis/schema.yml
  roles/adaravis/tasks/autogen_files.yml
  roles/adaravis/tasks/main.yml
  roles/adaravis/templates/auto_settings.req.j2
  roles/adaravis/templates/base.cmd.j2
  roles/deploy_ioc/vars/adaravis.yml
Due: ansible-lint, yamllint

maint: lint, lint, lint
  roles/adaravis/defaults/main.yml
  roles/adaravis/example.yml
  roles/adaravis/tasks/autogen_files.yml
  roles/adaravis/tasks/main.yml
  roles/deploy_ioc/vars/adaravis.yml
Due: ansible-lint, yamllint

Apply suggestions from code review
  roles/adaravis/tasks/autogen_files.yml
  roles/adaravis/tasks/main.yml
  roles/adaravis/templates/base.cmd.j2
Due: ansible-lint, yamllint

maint: lint and error introduced by well meaning copilot review
  roles/adaravis/tasks/main.yml
Due: ansible-lint, yamllint

fix: arv-tool is symlinked. No version number needed
  roles/adaravis/tasks/main.yml
Due: ansible-lint, yamllint

refactor: use ad_common
  roles/adaravis/templates/base.cmd.j2
  roles/deploy_ioc/vars/adaravis.yml
Due: ansible-lint, yamllint

doc: include camera details in example
  roles/adaravis/example.yml
Due: ansible-lint, yamllint

Fixes found when deploying afg3K
  roles/deploy_ioc/vars/sr570.yml
  roles/deploy_ioc/vars/stanford_dg645.yml
  roles/deploy_ioc/vars/tektronix_afg3k.yml
  roles/install_module/tasks/install-module.yml
  roles/install_module/vars/base_stream_ioc_33d1fb7.yml
  roles/pandabox/tasks/main.yml
Due: ansible-lint, yamllint

Update example for tektronix afg3k
  roles/deploy_ioc/vars/tektronix_afg3k.yml
  roles/tektronix_afg3k/example.yml
Due: ansible-lint, yamllint

Add newline at end of file
  roles/deploy_ioc/vars/tektronix_afg3k.yml
Due: ansible-lint, yamllint

Bump Version number
  galaxy.yml
Due: ansible-lint, yamllint

Bump version of base_stream_ioc
  roles/deploy_ioc/vars/sr570.yml
  roles/deploy_ioc/vars/stanford_dg645.yml
  roles/deploy_ioc/vars/tektronix_afg3k.yml
  roles/install_module/vars/base_stream_ioc_093e6cf.yml
Due: ansible-lint, yamllint

Remove previous base_stream_ioc module version
  roles/install_module/vars/base_stream_ioc_093e6cf.yml
  roles/install_module/vars/base_stream_ioc_33d1fb7.yml
Due: ansible-lint, yamllint

Adding role for APC Power delivery units
  roles/apcpdu/README.md
  roles/apcpdu/example.yml
  roles/apcpdu/schema.yml
  roles/apcpdu/tasks/main.yml
  roles/apcpdu/templates/base.cmd.j2
  roles/deploy_ioc/vars/apcpdu.yml
  roles/install_module/vars/base_snmp_ioc_6548d01.yml
Due: ansible-lint, yamllint

Fix linter issues
  requirements.txt
  roles/apcpdu/templates/base.cmd.j2
  roles/deploy_ioc/vars/apcpdu.yml
Due: ansible-lint, yamllint

Adding Eurotherm 3K role
  roles/deploy_ioc/defaults/main.yml
  roles/deploy_ioc/vars/eurotherm3k.yml
  roles/eurotherm3k/README.md
  roles/eurotherm3k/example.yml
  roles/eurotherm3k/files/eurothermDis.template
  roles/eurotherm3k/files/eurothermL1.template
  roles/eurotherm3k/files/eurothermL2.template
  roles/eurotherm3k/files/eurothermProg.template
  roles/eurotherm3k/files/eurothermRec.template
  roles/eurotherm3k/schema.yml
  roles/eurotherm3k/tasks/main.yml
  roles/eurotherm3k/templates/base.cmd.j2
  tests/test_deploy_ioc_vars.py
Due: ansible-lint, yamllint, isort, ruff, ruff-format

Update roles/eurotherm3k/files/eurothermRec.template
  roles/eurotherm3k/files/eurothermRec.template
Due: none

Update roles/eurotherm3k/files/eurothermL2.template
  roles/eurotherm3k/files/eurothermL2.template
Due: none

Move validation of var files to yamale for consistency
  roles/install_module/vars/ppmac_4752c2f.yml
  schemas/device_specific_vars.yml
  tests/test_deploy_ioc_vars.py
Due: ansible-lint, yamllint, isort, ruff, ruff-format

Remove now unused key
  roles/deploy_ioc/vars/adaravis.yml
Due: ansible-lint, yamllint

Update tests/test_install_module_vars.py
  tests/test_install_module_vars.py
Due: isort, ruff, ruff-format

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
